/* BULLS */

.body-bulls {
  background-color: #061922;
  background: linear-gradient(to bottom, #061922, #061922, #030d11);
}

.header {
  padding: 2.4rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  z-index: 99;
}
/* StickyNAv */
.sticky-nav {
  position: fixed;
  background: linear-gradient(to top, rgb(208, 17, 65, 0.7), rgb(209, 18, 66));
  width: 100%;
}
/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #000;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* **************** */

.logo,
.logo:visited {
  text-decoration: none;
  color: #fefefe;
  font-family: inherit;
  transition: all 0.3s;
}
.logo:hover,
.logo:active {
  opacity: 0.8;
}

.section-hero {
  position: relative;
  min-height: 100vh;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  overflow: hidden;
  padding-top: 0;
}

.section-hero-bulls:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/bulls/background-chicago.jpg");
  background-position: center;
  background-size: cover;
}

.img-render-jordan {
  width: 15%;
}

.img-render-rose {
  width: 21%;
  right: 10rem;
  bottom: -10rem;
}
.img-render-pippen {
  width: 16.5%;
  right: 32rem;
  bottom: -10rem;
}

.img-render-derozan {
  width: 14%;
  left: 25rem;
  bottom: -2rem;
}

.img-render-lavine {
  width: 15%;
  left: 10rem;
  bottom: -1rem;
}

.img-render-rodman {
  width: 15%;
  bottom: -30rem;
}
